1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

* * 
* 'hello'
* -87.8
* -
* /
* +
* 6

answer :
  * value : 'hello', -87.8, 6
  * expression : *, -, +, /

2. What is the difference between string and variable?

  answer:
  * variable : variable is a location were the data is stored
  * string : is a type of data which we store

3. Describe three different data types.
  
  answer: 
    * int : stores whole numbers
    * str : stores the sequence of character data
    * float : store the decimal numbers

4. What is an expression made up of? What do all expressions do?
  
  answer:
    * expression : is a combination of operators and operands
    * use of expression : expression is used to represent a value
    * example : x = 15 + 1.3

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

  answer: 
    * expression : combination of variables, operations and values that yields a result value
    * statement : Statements represent an action or command eg: print or assignment statements

6. After running the following code, what does the variable bacon contain?

  ```
  # This is formatted as code
  bacon = 22
  bacon + 1
  ```

In [ ]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?


  ```
  # This is formatted as code
  'spam' + 'spamspam'
  'spam'* 3
  ```

In [ ]:
print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

  answer: For a valid variable the variable name cannot start with a digit

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
v = 25.6
print(f'type of variable : {type(v)}\t value : {v}')
print(f'type of variable wint int() function: {type(int(v))}\t value : {int(v)}')
print(f'type of variable wint float() function: {type(float(v))}\t value : {float(v)}')
print(f'type of variable wint str() function: {type(str(v))}\t value : {str(v)}')

type of variable : <class 'float'>	 value : 25.6
type of variable wint int() function: <class 'int'>	 value : 25
type of variable wint float() function: <class 'float'>	 value : 25.6
type of variable wint str() function: <class 'str'>	 value : 25.6

10. Why does this expression cause an error? How can you fix it?
* 'I have eaten ' + 99 + ' burritos'

  answer : 
  * here we are trying to concatinate string with int which is not possible
  * correct code 


  ```
  # This is formatted as code
  print('i have eaten '+ str(99) + ' burritos')
  ```

In [4]:
print('i have eaten '+ str(99) + ' burritos')

i have eaten 99 burritos